.wbs-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
/* .wbs-form__wrp {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
} */
.wbs-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  @media screen and (min-width: 800px) {
    width: 700px;
  }
}

.wbs-form_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.wbs-label {
  margin-bottom: 1rem;
}
.wbs-input {
  padding: 0.5rem;
  height: 30px;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 5px;
}
.wbs-textArea {
  resize: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: 1px solid transparent;
}
.wbs-input:is(:focus, :hover),
.wbs-textArea:is(:focus, :hover) {
  border: 1px solid rgb(58, 58, 209);
}
.wbs-btn {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  outline: 1px solid transparent;
  border: 1px solid blue;
  margin: 0 auto;
}
.wbs-btn:is(:focus, :hover) {
  background-color: rgb(16, 16, 129);
  border: 1px solid rgb(16, 16, 129);
}
.wbs-list {
  @media screen and (min-width: 500px) {
    margin: 0 auto;
  }
}
.wbs-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 1rem;
  @media screen and (min-width: 500px) {
    width: 400px;
  }
}
.wbs-item:not(:last-child) {
  margin-bottom: 2rem;
}
.wbs-inn_wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.wbs-card {
}

.wbs-checkBox {
}
.wbs-item__title {
  margin: 0 auto;
}
.wbs-item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px dotted rgb(172, 170, 170);
  cursor: pointer;
}
.checkbox-icon {
  width: 35px;
  fill: green;
  display: none;
}

.checked .checkbox-icon {
  display: block;
}

.wbs-item__text {
  margin-bottom: 1rem;
  @media screen and (min-width: 500px) {
    margin-bottom: 0;
  }
}
.wbs-cardBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
}
.wbs-btn_wrp {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  @media screen and (min-width: 500px) {
    align-items: center;
  }
}
.wbs-btn__edit {
  border: 1px solid green;
  color: white;
  background-color: green;
  width: 50px;
}
.wbs-btn__edit:is(:focus, :hover) {
  background-color: rgb(14, 91, 14);
  border-color: rgb(14, 91, 14);
}
.wbs-btn__delete {
  border: 1px solid red;
  color: white;
  background-color: red;
  width: 60px;
}
.wbs-btn__delete:is(:focus, :hover) {
  background-color: rgb(154, 18, 18);
  border-color: rgb(154, 18, 18);
}
.wbs-btn__bottom {
  outline: 1px solid transparent;
  height: 30px;
  border-radius: 5px;
}
