html,
body,
main {
  height: 100%;
}
body {
  font-family: "Roboto";
}
.wbs-section {
  display: flex;

  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.start__section {
  height: 100%;
}
.start__section.hidden {
  display: none;
}
.wbs-start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wbs-start__text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.wbs-start__text:last-of-type {
  margin-bottom: 2rem;
}
.wbs-start__btnAdd {
  width: 70px;
  margin-bottom: 2rem;
  outline: 1px solid transparent;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-start__btnAdd:is(:hover, :focus) {
  transform: scale(1.25);
}
.wbs-start__img {
  width: 200px;
}
.list__section.hidden {
  display: none;
}

.wbs-list__btnAdd {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 90px;
  font-size: 1.1rem;
  outline: 1px solid transparent;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.12),
    1px 1px 2px 0 rgba(0, 0, 0, 0.08), 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-list__btnAdd:is(:hover, :focus) {
  transform: scale(1.15);
}
.wbs-list__btnAdd.hidden {
  display: none;
}
.dropdown {
  font-size: 1.1rem;
  width: 159px;
  margin-bottom: 3rem;
}
.dropdown-toggle {
  width: 100%;
}

.form__section.hidden {
  display: none;
}

.wbs-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  font-size: 1rem;
}
@media only screen and (min-width: 800px) {
  .wbs-form {
    width: 700px;
  }
}
.wbs-form_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.wbs-label {
  margin-bottom: 1rem;
}
.wbs-input {
  padding: 0.5rem;
  height: 30px;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 5px;
}
.wbs-textArea {
  resize: none;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  outline: 1px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-input:is(:focus, :hover),
.wbs-textArea:is(:focus, :hover) {
  border-color: rgb(58, 58, 209);
}
.wbs-btn {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  outline: 1px solid transparent;
  border: 1px solid blue;
  margin: 0 auto;
  font-size: 1.1rem;
  -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-btn:is(:focus, :hover) {
  background-color: rgb(16, 16, 129);
  border-color: rgb(16, 16, 129);
}
/* ------------------- */
.wbs-list {
  width: 100%;
}
@media screen and (min-width: 500px) {
  .wbs-list {
    width: 400px;
  }
}
@media screen and (min-width: 800px) {
  .wbs-list {
    width: 500px;
  }
}
.wbs-item {
  border: 0.5px solid gray;
  -webkit-box-shadow: 3px 5px 9px -2px rgba(0, 0, 0, 0.58);
  box-shadow: 3px 5px 9px -2px rgba(0, 0, 0, 0.58);
  border-radius: 5px;
  padding: 1rem 2rem 2rem;
}
.wbs-item:not(:last-child) {
  margin-bottom: 2rem;
}
.wbs-inn_wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
/* .wbs-card {
} */
.wbs-openTask__btn {
  margin-bottom: 1rem;
  outline: 1px solid transparent;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(65, 62, 62);
  color: green;
  font-size: 0.9rem;
  height: 36px;
  width: 100px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.51);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 800px) {
  .wbs-openTask__btn {
    margin-bottom: 0;
  }
}
.wbs-openTask__btn:is(:focus, :hover) {
  color: white;
  background-color: green;
  border-color: green;
}
/* .wbs-checkBox {
} */
.wbs-item__input {
  width: 190px;
  padding-left: 30px;
  margin: 0 auto;
  border-radius: 8px;

  height: 35px;
  font-size: 1.5rem;
  font-weight: 700;
  outline: 1px solid transparent;
  border: 1px solid black;
}
@media screen and (min-width: 800px) {
  .wbs-item__input {
    width: 200px;
  }
}
.wbs-item__input.hidden {
  display: none;
}
.wbs-item__title.hidden {
  display: none;
}

.wbs-item__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.8rem;
}
.wbs-item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px dotted rgb(172, 170, 170);
  cursor: pointer;
}
.checkbox-icon {
  width: 35px;
  fill: green;
  display: none;
}

.checked .checkbox-icon {
  display: block;
}
.wbs-item__textArea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  outline: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.1rem;
  font-family: "Roboto";
  line-height: 1.46;
}
.wbs-item__textArea.hidden {
  display: none;
}
.wbs-item__text {
  margin-bottom: 1rem;
  white-space: normal;
  font-size: 1.1rem;
  margin-top: 0;
  font-family: "Roboto";
  line-height: 1.46;

  @media screen and (min-width: 500px) {
    margin-bottom: 0;
  }
}
.wbs-item__text.short-task.hidden {
  display: none;
}
.wbs-item__text.short-task {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  text-overflow: ellipsis;
}
.wbs-cardBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 500px) {
  .wbs-cardBottom {
    flex-direction: row;
  }
}
.wbs-btn_wrp {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (min-width: 500px) {
  .wbs-btn_wrp {
    align-items: center;
  }
}
.wbs-btn__bottom {
  outline: 1px solid transparent;
  height: 30px;
  border-radius: 5px;
  font-size: 0.8rem;
  -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
}
.wbs-btn__edit {
  border: 1px solid rgb(2, 161, 2);
  color: white;
  background-color: rgb(2, 161, 2);
  width: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-btn__edit:is(:focus, :hover) {
  background-color: green;
  border-color: green;
}

.wbs-btn__delete {
  border: 1px solid red;
  color: white;
  background-color: red;
  width: 60px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbs-btn__delete:focus,
.wbs-btn__delete:hover {
  background-color: rgb(154, 18, 18);
  border-color: rgb(154, 18, 18);
}
.wbs-item__no-text {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}
